h1{
    /* h1 font formatting */
    font-size: 45px;
    font-family: sans-serif ;
    font-weight: 700px;
    font-style:normal;
    font-stretch:semi-condensed;
   
}

h2{
    /* h2 font formatting */
    font-size: 25px;
    font-family: "Garamond", Times, serif;
    font-weight:600;
    font-style:normal;
    font-stretch: revert;
   
}

h3{
    /* h3 font formatting */
    font-size: 27px;
    font-family: "Times New Roman", Times, serif;
    font-weight:600;
    font-style:normal;
    font-stretch: condensed;
   
}

p{
    /* paragraph font formatting */
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    font-weight:450;
    font-style:normal;
    font-stretch: semi-condensed;
   
}

a:link{
    /* unvisited link */
    color: red;
    
}

a:visited{
    /* visited link */
    color: yellow;
    
}

a:hover{
    /* mouse over link */
    color: black;
    
}

a:active{
    /* selected link */
    color: black;
    
}

img {
    /* Set the image size and other box model properties */
    width: 200px;
    height: 200px;
    border: 2px solid white;
    padding: 0;
   
}

.avtr1 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.avtr2 {
    float: left; /* left float*/
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d1 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d2 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d3 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d4 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d5 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d1k {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d2k {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d3k {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d4k {
    float: left; /* left float*/
    margin: 10px; /* Add some margin to create space between the image and text */
}
.d5k {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.std {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.auto {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hos {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hob{
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.dog{
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.g1 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.g2 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.g3 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.g4 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.g5 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd1 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd2 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd3 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd4 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd5 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}
.hd6 {
    float: left; /* left float */
    margin: 10px; /* Add some margin to create space between the image and text */
}

.content {
    clear:all; /* Clear the float so that content following the image doesn't wrap around it */
}

