/* set colors for the entire page, configure smaller parts separately */
html {
	color: #bbbbbb;
	background-color: #222222;
}

/* font formatting for main section */
body > main {
	font-family: serif;
	font-size: 1em;
	margin: 10px;
}

/* the header should stand out from main */
body > header {
	color: #eeeeee;
	background-color: #005577;
	text-align: center;
	padding: 10px;
}

/* ...the same goes for the footer */
body > footer {
	background-color: #444444;
	text-align: center;
	font-size: small;
	clear: both;
}

/* h1 font formatting */
h1 {
	font-family: sans, sans-serif;
	font-size: 3em;
	font-style: italic;
}

/* h2 font formatting */
h2 {
	font-family: sans, sans-serif;
	font-size: 2em;
}

/* h2 font formatting */
h3 {
	font-family: sans, sans-serif;
	font-size: 1.5em;
}

/* get rid of <li> symbols */
li {
	list-style-type: none;
}

/* unvisited link */
a:link {
	color: aquamarine;
}

/* visited link */
a:visited {
	color: aqua;
}

/* mouse over link */
a:hover {
	color: yellow;
}

/* selected link */
a:active {
	color: gray;
}

/* image dimensions & border */
img {
	width: 200px;
	height: 200px;
	border: 2px solid #eeeeee;
}

/* configure float properties */
.category {
	float: left;
	margin: 0 1em;
}
.float-left {
	float: left;
	margin-right: 30px;
}
.aggelia {
	float: left;
	margin-right: 10px;
}
.image-gallery {
	float: left;
	margin-right: 10px;
}

/* word wrapping for paragraphs */
main > p {
	inline-size: 900px;
}

/* word wrapping for image captions */
figcaption {
	inline-size: 500px;
}

/* input fields should match the page theme */
input, textarea {
	color: #eeeeee;
	background-color: #555555;
}

/* make the text area bigger */
textarea[name="problem"] {
	height: 500px;
	width: 400px;
}

/* looks cool */
.mail-addr {
	font-family: monospace;
	font-size: 1.2em;
}
