/* set colors for the entire page, configure smaller parts separately */
html {
	color: #444444;
	background-color: #f7f7f7;
}

/* 3 custom fonts from the Arimo font family */
@font-face {
	font-family: 'arimobt';
	src: url('../resources/Arimo-BoldItalic-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'arimo';
	src: url('../resources/Arimo-Regular-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'arimob';
	src: url('../resources/Arimo-Bold-webfont.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

/* general body formatting */
body {
	font-family: 'arimob';
	font-size: 1em;
	margin: 0;
}

/* add some padding to the main section */
body > main {
	padding: 10px;
}

/* the header should stand out from main */
header {
	color: #222222;
	background-color: #eeeeee;
	text-align: center;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
}
header img {
	margin: 2em;
}

/* ...the same goes for the footer */
body > footer {
	background-color: #bbbbbb;
	text-align: center;
	font-size: small;
	clear: both;
}

/* font formatting for headings */
h1 {
	font-family:  'arimobt';
	font-size: 3em;
	font-style: italic;
}
h2 {
	font-family:  'arimo';
	font-size: 2em;
}
h3  {
	font-family:  'arimob';
	font-size: 1,5em;
}

/* get rid of <li> symbols */
ul {
	list-style: none;
}

/* unvisited link */
a:link {
	color: #222222;
}

/* visited link */
a:visited {
	color: aqua;
}

/* mouse over link */
a:hover {
	color: rgb(255, 255, 0);
}

/* selected link */
a:active {
	color: gray;
}

/* image dimensions & border */
img {
	width: 200px;
	height: 200px;
	border: 2px solid #444444;
}

/* configure float properties */
.category {
	float: left;
	margin: 0 1em;
}
.float-left {
	float: left;
	margin-right: 30px;
}
.aggelia {
	float: left;
	margin-right: 10px;
}
.image-gallery {
	float: left;
	margin-right: 10px;
}

/* word wrapping for full descriptions */
#full-description {
	inline-size: 900px;
}

/* word wrapping for image captions */
figcaption {
	inline-size: 500px;
}

/* input fields should match the page theme */
input, textarea {
	color: #222222;
	background-color: #bbbbbb;
}

/* make the text area bigger */
textarea[name="problem"] {
	height: 500px;
	width: 400px;
}

/* helps with readability */
.mail-addr {
	font-family: monospace;
	font-size: 1.2em;
}

/* Data layout with grid */
#placement {
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr;*/
	column-gap: 1em;
	row-gap: 2em;
	/* auto-placement */
	grid-template-columns: repeat(auto-fill, minmax(31em, auto));
}
#placement > h2 {
	grid-column: 1 / -1;
}

/* formatting nav items */
#main-nav li {
	line-height: 2em;
	background-color: rgb(255, 255, 0);
	width: 10em;
	margin: 2px;
}
#main-nav a {
	text-decoration: none;
	text-align: center;
	color: #222222;
	display: block;
}
#main-nav a:hover {
	background-color: rgb(139, 128, 0);
	transition: background-color 400ms ease-in;
}
#main-nav li:hover {
	position: relative;
	top: 2px;
}

/* Διάταξη των στοιχείων του nav menu */
.menu-bar {
	margin: 1em;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

/* Αναδυόμενα υπο-μενού */
#main-nav li ul {
	display: none;
}
#main-nav li:hover > ul {
	display: block;
	position: absolute;
	top: 2em;
	left: 5em;
}

/* use a darker color palette when the browser wants to use dark theme */
@media all and (prefers-color-scheme: dark) {
	html {
		color: #bbbbbb;
		background-color: #222222;
	}
	header {
		color: #eeeeee;
		background-color: #005577;
	}
	body > footer {
		color: #eeeeee;
		background-color: #444444;
	}
	a:link {
		color: aquamarine;
	}
	a:visited {
		color: aqua;
	}
	a:hover {
		color: rgb(255, 255, 0);
	}
	a:active {
		color: gray;
	}
	input, textarea {
		color: #f7f7f7;
		background-color: #444444;
	}
	img {
		border: 2px solid #bbbbbb;
	}
}

/* make textarea fit narrower screens */
@media (max-width: 500px) {
	textarea[name="problem"] {
		height: 700px;
		width: 300px;
	}
}
